/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/*
!/generated-docs/md
/generated-docs/md/*
!/generated-docs/md/Control.Monad.Resource.*
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
